version: "3.8"

services:
  spanner-emulator:
    build:
      context: .
      dockerfile: build/cloud-spanner-emulator.Dockerfile
    ports:
      - 127.0.0.1:${SPANNER_PORT}:9010
  buf:
    build:
      context: .
      dockerfile: build/buf.Dockerfile
      args:
        - GO_VERSION=${GO_VERSION}
    working_dir: /usr/src/days
    volumes:
      - ./:/usr/src/days
  gcloud:
    build:
      context: .
      dockerfile: build/google-cloud-sdk.Dockerfile
